.register-login-form {
  padding: 16px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /* Full-width input fields */
  /* Set a style for the submit button */
  /* Overwrite default styles of hr */
}
.register-login-form input[type=email],
.register-login-form input[type=text],
.register-login-form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #f1f1f1;
}
.register-login-form input[type=text]:focus,
.register-login-form input[type=email]:focus,
.register-login-form input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.register-login-form .submitbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.register-login-form .submitbtn:hover {
  opacity: 1;
}
.register-login-form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
